@import 'bower_components/bem-constructor/dist/_bem-constructor';
@include component('page') {
  @include element('title') {
    font-family: Raleway;
    font-weight: bold;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 20px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 20px;
    }
    @media screen and (min-width: 481px) and (max-width: 767px) {
      font-size: 20px;
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      font-size: 16px;
    }
  }
  @include element('intro') {
    font-size: 20px;
    font-family: Raleway;
    line-height: 1.8;
    padding-bottom: 30px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      font-size: 16px;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      font-size: 14px;
    }
    @media screen and (min-width: 481px) and (max-width: 767px) {
      font-size: 12px;
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      font-size: 10px;
    }
  }
}