@import 'bower_components/bem-constructor/dist/_bem-constructor';
@include component('header') {
  width: 100%;
  padding: 15px;
  background-color: #8adcf9;
}

@include utility('navigation') {
  padding: 5px 0;
  margin-left: 0px;
  margin-bottom: 0px;
  list-style-type: none;
  @include element('tab') {
    margin-right: 30px;
    a {
      color: #6495ed;
      padding: 8px 15px;
      border-radius: 4px;
      background-color: #fff;
      &:hover {
        color: #fff;
        text-decoration: none !important;
        background-color: #ed3f1c;
      }
    }
  }
}