/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.c-carousel {
  overflow: hidden;
  border: 1px solid #ddd; }

.o-carousel-slider {
  width: 451%;
  padding: 0;
  margin-bottom: 0px;
  list-style-type: none; }
  .o-carousel-slider__slide {
    padding: 3.9% 6.4%;
    font-size: 8vw;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .o-carousel-slider__slide {
        padding: 4.9% 8.6%;
        font-size: 6vw; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .o-carousel-slider__slide {
        padding: 4.9% 8.6%;
        font-size: 6vw; } }
    @media screen and (min-width: 481px) and (max-width: 767px) {
      .o-carousel-slider__slide {
        padding: 4.9% 8.6%;
        font-size: 6vw; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      .o-carousel-slider__slide {
        padding: 4.9% 8.6%;
        font-size: 6vw; } }
