<div class="c-page col-xs-12 col-sm-12 col-md-12 col-lg-12">

  <h1 class="c-page__title">Welcome to our Homepage</h1>

  <div class="c-carousel">
    <ul class="o-carousel-slider">
      <li class="o-carousel-slider__slide pull-left" ng-repeat="slide in Carousel">{{slide}}</li>
    </ul>
  </div>

  <form name="" action="" method="post">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <div class="c-form col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <input type="text" placeholder="Add a new slide" ng-model="newSlide" class="form-control c-form__margin" />
          </div>
          <input type="button" value="Upload Image" ng-click="uploadSlide(newSlide);" class="btn btn-green c-form__margin" />
        </div>
      </div>
    </div>

  </form>

</div>