@import 'bower_components/bem-constructor/dist/_bem-constructor';
@import '../mixins/transitions.scss';

@include component('carousel') {
  overflow: hidden;
  border: 1px solid #ddd;
}

@include object('carousel-slider') {
  width: 451%;
  padding: 0;
  margin-bottom: 0px;
  list-style-type: none;
  @include element('slide') {
    padding: 3.9% 6.4%;
    font-size: 8vw;
    @include transition;
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      padding: 4.9% 8.6%;
      font-size: 6vw;
    }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      padding: 4.9% 8.6%;
      font-size: 6vw;
    }
    @media screen and (min-width: 481px) and (max-width: 767px) {
      padding: 4.9% 8.6%;
      font-size: 6vw;
    }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      padding: 4.9% 8.6%;
      font-size: 6vw;
    }
  }
}