/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.c-page__title {
  font-family: Raleway;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .c-page__title {
      font-size: 20px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .c-page__title {
      font-size: 20px; } }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .c-page__title {
      font-size: 20px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .c-page__title {
      font-size: 16px; } }

.c-page__intro {
  font-size: 20px;
  font-family: Raleway;
  line-height: 1.8;
  padding-bottom: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .c-page__intro {
      font-size: 16px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .c-page__intro {
      font-size: 14px; } }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .c-page__intro {
      font-size: 12px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .c-page__intro {
      font-size: 10px; } }
