body {
  font-family: 'Raleway', sans-serif; }

/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.c-header {
  width: 100%;
  padding: 15px;
  background-color: #8adcf9; }

.u-navigation {
  padding: 5px 0;
  margin-left: 0px;
  margin-bottom: 0px;
  list-style-type: none; }
  .u-navigation__tab {
    margin-right: 30px; }
    .u-navigation__tab a {
      color: #6495ed;
      padding: 8px 15px;
      border-radius: 4px;
      background-color: #fff; }
      .u-navigation__tab a:hover {
        color: #fff;
        text-decoration: none !important;
        background-color: #ed3f1c; }

/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.c-carousel {
  overflow: hidden;
  border: 1px solid #ddd; }

.o-carousel-slider {
  width: 451%;
  padding: 0;
  margin-bottom: 0px;
  list-style-type: none; }
  .o-carousel-slider__slide {
    padding: 3.9% 6.4%;
    font-size: 8vw;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }
    @media screen and (min-width: 992px) and (max-width: 1199px) {
      .o-carousel-slider__slide {
        padding: 4.9% 8.6%;
        font-size: 6vw; } }
    @media screen and (min-width: 768px) and (max-width: 991px) {
      .o-carousel-slider__slide {
        padding: 4.9% 8.6%;
        font-size: 6vw; } }
    @media screen and (min-width: 481px) and (max-width: 767px) {
      .o-carousel-slider__slide {
        padding: 4.9% 8.6%;
        font-size: 6vw; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      .o-carousel-slider__slide {
        padding: 4.9% 8.6%;
        font-size: 6vw; } }

/* ---- Partial Pages Styling ---- */
/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.c-form__margin {
  margin-top: 30px; }

/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.c-page__title {
  font-family: Raleway;
  font-weight: bold;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .c-page__title {
      font-size: 20px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .c-page__title {
      font-size: 20px; } }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .c-page__title {
      font-size: 20px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .c-page__title {
      font-size: 16px; } }

.c-page__intro {
  font-size: 20px;
  font-family: Raleway;
  line-height: 1.8;
  padding-bottom: 30px;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    .c-page__intro {
      font-size: 16px; } }
  @media screen and (min-width: 768px) and (max-width: 991px) {
    .c-page__intro {
      font-size: 14px; } }
  @media screen and (min-width: 481px) and (max-width: 767px) {
    .c-page__intro {
      font-size: 12px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .c-page__intro {
      font-size: 10px; } }
