/*! sass-bem-constructor - version : 1.1.0 - 2016-02-07 */
.c-header {
  width: 100%;
  padding: 15px;
  background-color: #8adcf9; }

.u-navigation {
  padding: 5px 0;
  margin-left: 0px;
  margin-bottom: 0px;
  list-style-type: none; }
  .u-navigation__tab {
    margin-right: 30px; }
    .u-navigation__tab a {
      color: #6495ed;
      padding: 8px 15px;
      border-radius: 4px;
      background-color: #fff; }
      .u-navigation__tab a:hover {
        color: #fff;
        text-decoration: none !important;
        background-color: #ed3f1c; }
